
<main class="col-8"><!--Sezione Accesso o Registrazione-->
  <div class="form">
      <!--<div class="form-registrazione" id="form-registrazione"><!--registrazione
          <form action="" method="post" enctype="multipart/form-data">
                  <legend>Registrati:</legend>

                  <hr>
                  <h3>
                      Anagrafica
                      <br>
                  </h3>

                  <div>
                      <input type="text" name="nome" id="nome" placeholder="Nome"/>
                  </div>

                  <div>
                      <input type="text" name="cognome" id="cognome" placeholder="Cognome"/>
                  </div>

                  <hr>

                  <h3>
                      Credenziali
                      <br> 
                  </h3>

                  <div>
                      <input type="email" name="email" id="email" placeholder="e-mail" />
                  </div>

                  <div>
                      <input type="email" name="emailC" id="emailC" placeholder="Conferma e-mail"/>
                  </div>

                  <div>
                      <input type="text" name="regUsr" id="RegUsr" placeholder="Nome Utente" /> 
                  </div>           

                  <div>
                      <input type="password" name="RegPsw" id="RegPsw" placeholder="Password"/>
                  </div>

                  <div>
                      <input type="password" name="RegPswC" id="RegPswC" placeholder="Conferma Password"/>
                  </div>

                  

                  <hr>         

          </form>
      </div> -->

      <div class="form-accesso" id="form-accesso"><!--Accesso-->
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <fieldset>
            {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
            <hr>
            <legend>Accedi:</legend>
            <hr>
            <div>
                <input type="text" name="username" id="acc_nomeUtente" placeholder="Nome Utente" />
            </div>

            <div>
                <input type="password" name="password" id="psw" placeholder="Password" />
            </div>

            <div>
                <button class="accesso" type="submit">Accedi</button>
            </div> 
        </form>
      </div>
  </div>

  <button class="registrazione" type="button" onclick="location.href= '/registrazione' ">Registrati</button>
      
  </main>
