<head>
    <title>Rifugio del Gatto Bosisio</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="form-centrato row h-100 form align-items-center justify-content-center" style="width: 100vw; height: 100vh;">
    <div class="col-md-6 bg-secondary bg-gradient text-white" id="form-accesso">
      <h1 class="text-center m-3">Benvenuto nel rifugio del Gatto bosisio</h1>
      <h2 class="text-center m-3">Accedi:</h2>
      <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <fieldset>
          {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
        <div class="form-group">
          <label for="acc-nomeUtente">Nome Utente:</label>
          <input type="text" class="form-control" name="username" id="acc_nomeUtente" placeholder="Inserisci il tuo nome utente">
        </div>
        <div class="form-group">
          <label for="psw">Password:</label>
          <input type="password" class="form-control" name="password" id="psw" placeholder="Inserisci la tua password">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary m-3">Accedi</button>
        </div>
        <div class="form-group text-center">
          <a href="#" class="registrazione text-white" onclick="location.href= '/registrazione' ">Non hai un account? Registrati</a>
        </div>
      </form>
    </div>
  </div>
    
</body>
