<head>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>Aggiunta Animale</title>
</head>

<body>
    <div class="container h-100">
        <div class="form-centrato row h-100 justify-content-center align-items-center">
            <div class="col-md-6 bg-secondary bg-gradient text-white" id="form-accesso">
                <h1 class="text-center m-3">Aggiungi un animale:</h1>
                <form form action="{% url 'invio_aggiungi_animale' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                    {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
                <div class="form-group">
                    <label for="adotta_nome">Specie:<a style="color: red;"> *</a></label>
                    <input type="text" class="form-control" name="specie" id="specie" placeholder="Specie" />
                </div>
                <div class="form-group">
                    <label for="adotta_indirizzo">Razza:<a style="color: red;"> *</a></label>
                    <input type="text" class="form-control" name="razza" id="razza" placeholder="Razza" />
                </div>
                <div class="form-group">
                    <label for="adotta_recapito">Età:<a style="color: red;"> *</a></label>
                    <input type="number" class="form-control" name="eta" id="eta" placeholder="Età" default="0" />
                </div>
                <div class="form-group">
                    <label for="adotta_recapito">Descrizione:</label>
                    <textarea name="descrizione" class="form-control" id="descrizione" placeholder="Descrizione" rows="10" cols="50"></textarea>
                </div>
                <div class="form-group text-center">
                    <a href="#" role="button" class="btn btn-light m-3" onclick="location.href = '/home_admin'">Home</a>
                    <input type="submit" class="btn btn-primary m-3" name="aggiungi" id="aggiungi" placeholder="Aggiungi al rifugio" />
                </div>
                </form> 
            </div>
        </div>
    </div> 
</body>