<head>
    <title>Rifugio del Gatto Bosisio - admim</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    

    
</head>

<body>
    


    <header class="p-3 mb-2 bg-secondary bg-gradient text-white d-flex">
        <h1 class="align-items-center">Benvenuto nel rifugio del Gatto bosisio</h1>
            <!--Logout-->
        <a class=" m-2 position-absolute end-0 btn btn-primary" href="/logout" role="button">Logout</a>
      </header>
  
          <!--Dropdown Filtra-->
          <div class="p-3 btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filtra
            </button>
            <ul class="dropdown-menu" style="min-width:300px;">
            <li><nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <!--input e bottone Eta-->  
                    <input class="form-control me-2" type="ageSearch" placeholder="Età" aria-label="Età">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav></li>
            <li><nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <!--input e bottone Specie-->
                    <input class="form-control me-2" type="speciesSearch" placeholder="Specie" aria-label="Specie">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav></li>
            <li><nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <!--input e bottone Razza-->
                    <input class="form-control me-2" type="raceSearch" placeholder="Razza" aria-label="Razza">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav></li>
            </ul>
          </div>

        <!-- Todo - Diego sposta e sistema questo bottone-->
        <button type="button" class="" onclick="location.href= '/aggiungi_animale' ">Aggiungi un animale</button>
        <button type="button" class="" onclick="location.href= '/home_admin' ">Home</button>

        <h3>Lista degli animali del rifugio</h3>
    


        <!--INIZIO NONTOCCARE-->
        {% if lista_animali %}
       
            
            <div class="p-4">
            <table class="table table-bordered table-sm table-responsive">
                <thead>
                    <tr class="table-primary">
                        <th>Specie</th>
                        <th>Razza</th>
                        <th>Età</th>
                        <th>descrizione</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for animali in lista_animali %}
                        <tr class="table-light">
                            <td>{{ animali.specie }}</td>
                            <td>{{ animali.razza }}</td>
                            <td>{{ animali.eta }}</td>
                            <td>{{ animali.descrizione }}</td>
                            <td> {{ animali.stato }}</td> 
                            
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p>non ci sono animali</p>
        {% endif %}
        <!--FINE NONTOCCARE-->

</body>