<head>
    <title>Rifugio del Gatto Bosisio - admim</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <style>

      #titolo{
        width: 100vw;
      }

      .hide-disabled{
        display: none;
      }
    </style>
    {% bootstrap_javascript %}
</head>

<body>
  <header class="bg-secondary bg-gradient text-white">
    <div class=" container text-center">
      <div class="row align-items-center">
        <div class="col">
          
        </div>
        <div class="col-9">
          <h1 class="text-center m-3">Benvenuto nel rifugio del Gatto bosisio</h1>
        </div>
        <div class="col justify-content-right">
          <a class="end-0 btn btn-primary" href="/logout" role="button" id="Logout">Logout</a>
        </div>
      </div>
    </div>
  </header>
  <div class="container mt-3 text-center">
    <div class="row align-items-center">
      <div class="col"> <!--Prima colonna-->
        <!--Tasto Filtra-->
        <div class="align-items-center btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="filtra">Filtra</button>
          <ul class="dropdown-menu" style="min-width:300px;">
            <form method="get" id = "filter-form">
              {{ lista_filtrata.form.as_ul }}
              <input type="submit" class ="btn btn-outline-success"/>
            </form>
          </ul>
        </div>
      </div>
      <div class="col-9 text-center"> <!--Seconda colonna-->
        <!--Titolo Pagina-->
        <h2 class="text-center">Lista Richieste</h2>
      </div>
      <div class="col"> <!--Terza colonna-->
        <a href="#" role="button" class="btn btn-warning m-3" onclick="location.href= '/gestione_animali/' " id="gestione_animali">Gestisci Animali</a>
      </div>
    </div>
  </div>
  <!--Testo avviso Centrato-->
  <div class="row">
    <div class="col-sm-12 center">
      <h3 class="text-center m-3" id="warning">Non ci sono richieste</h3>
    </div>
  </div>

        <!--INIZIO NONTOCCARE-->
        {% if lista_moduli %}
                    
            <div class="p-4">
            <table class="table table-bordered table-sm table-responsive">
                <thead>
                    <tr class="table-primary">
                        <th>Richiedente</th>
                        <th>Indirizzo</th>
                        <th>Recapito</th>
                        <th>Specie Animale</th>
                        <th>Razza Animale</th>
                        <th>Età Animale</th>
                        <th>Azione</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for modulo_adozione in lista_filtrata.qs %}
                        <tr class="table-light">
                            <td>{{ modulo_adozione.nomeCognome }}</td>
                            <td>{{ modulo_adozione.indirizzo }}</td>
                            <td>{{ modulo_adozione.recapito }}</td>
                            <td>{{ modulo_adozione.animale.specie }}</td>
                            <td>{{ modulo_adozione.animale.razza }}</td>
                            <td>{{ modulo_adozione.animale.eta }}</td>
                            <td>
                              <form method="post" action="{% url 'gestione_modulo_adozione' %}">
                                {% csrf_token %}
                                <input type="hidden" name="modulo_id" value="{{ modulo_adozione.id }}">
                                <input type="hidden" name="stato" value="accetta">
                                <input type="submit" class="btn btn-outline-success" value="Accetta" id="acc_{{modulo_adozione.id}}">
                              </form>

                              <form method="post" action="{% url 'gestione_modulo_adozione' %}">
                                {% csrf_token %}
                                <input type="hidden" name="modulo_id" value="{{ modulo_adozione.id }}">
                                <input type="hidden" name="stato" value="rifiuta">
                                <input type="submit" class="btn btn-outline-danger" value="Rifiuta" id="rif_{{modulo_adozione.id}}">
                              </form>
                            </td> 
                            
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            <script>
              //Attiva il pulsante filtra quando ci sono animali
              //TODO da testare in caso prima non ci siano richieste e poi ci siano e viceversa
              var filtra = document.getElementById('filtra');
              var message = document.getElementById('warning');
              message.classList.add('hide-disabled');
              filtra.classList.remove('hide-disabled');
            </script>
        {% else %}
          <script>
            //Disattiva il pulsante filtra quando non ci sono richieste
            var filtra = document.getElementById('filtra');
            var message = document.getElementById('warning');
            message.classList.remove('hide-disabled');
            filtra.classList.add('hide-disabled');
          </script>
        {% endif %}
        <!--FINE NONTOCCARE-->

</body>