<head>
    <title>Rifugio del Gatto Bosisio - admim</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    

    
</head>

<body>
    


    <header class="p-3 mb-2 bg-secondary bg-gradient text-white">
        <h1 class="justify-content-md-center">Benvenuto nel rifugio del Gatto bosisio</h1>
            <!--Logout-->
            <a class="justify-content-end btn btn-primary" href="#" role="button">Logout</a>
        </div>
    </header>

        <!--Dropdown Filtra-->
        <div class="p-3 btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filtra
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>

        <h3>Lista Richieste</h3>
    


        <!--INIZIO NONTOCCARE-->
        {% if lista_moduli %}
        <!-- <ul>
                {% for animali in lista_animali %}
                    <li> {{ animali.specie }} </li>
                {% endfor %}
            </ul>-->

            
            <div class="p-4">
            <table class="table table-bordered table-sm table-responsive">
                <thead>
                    <tr class="table-primary">
                        <th>Richiedente</th>
                        <th>Indirizzo</th>
                        <th>Recapito</th>
                        <th>Specie Animale</th>
                        <th>Razza Animale</th>
                        <th>Età Animale</th>
                        <th>Azione</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for modulo_adozione in lista_moduli %}
                        <tr class="table-light">
                            <td>{{ modulo_adozione.nomeCognome }}</td>
                            <td>{{ modulo_adozione.indirizzo }}</td>
                            <td>{{ modulo_adozione.recapito }}</td>
                            <td>{{ modulo_adozione.animale.specie }}</td>
                            <td>{{ modulo_adozione.animale.razza }}</td>
                            <td>{{ modulo_adozione.animale.eta }}</td>
                            <td><a href="">Da Camabiare</a></td> 
                            
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p>non ci sono richieste</p>
        {% endif %}
        <!--FINE NONTOCCARE-->

</body>