<head>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>Modulo di adozione</title>
</head>

<body> 
  {% if animale_da_adottare%}
  <div> 
    <div class="container h-100">
      <div class="form-centrato row h-100 justify-content-center align-items-center">
        <div class="col-md-6 bg-secondary bg-gradient text-white" id="form-accesso">
          
          <h1 class="text-center m-3">Modulo di adozione:</h1>
          <h3 class="text-center m-3">Animale da adottare:</h3>
                  <p>Specie: <b>{{ animale_da_adottare.specie }}</b></p>
                  <p>Razza: <b>{{ animale_da_adottare.razza }}</b></p>
                  <p>Età: <b>{{ animale_da_adottare.eta }}</b></p>
                  <p>Descrizione: <b>{{ animale_da_adottare.descrizione }}</b></p>
          <h3 class="text-center m-3">Adotta:</h3>
          <form action="{% url 'invio_modulo_adozione' animale_da_adottare.id %}" method="post">
              {% csrf_token %}
              <fieldset>
              {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
            <div class="form-group">
              <label for="adotta_nome">Nome e Cognome:</label>
              <input type="text" class="form-control" id="adotta_nome" placeholder="Nome e Cognome">
            </div>
            <div class="form-group">
              <label for="adotta_indirizzo">Indirizzo:</label>
              <input type="text" class="form-control" id="adotta_indirizzo" placeholder="Indirizzo">
            </div>
            <div class="form-group">
              <label for="adotta_recapito">Recapito:</label>
              <input type="text" class="form-control" id="adotta_recapito" placeholder="Email o Telefono">
            </div>
            <div class="form-group text-center">
              <a href="#" role="button" class="btn btn-light m-3" onclick="location.href = '/home'">Home</a>
              <button type="submit" name="adotta" id="adotta" class="btn btn-primary m-3">Adotta</button>
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
    {% else %}
    <h3>nessun animale da adottare</h3>
    {% endif %}
</body>